@import "./constants/colors";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem; /* 16px */
  height: 100vh;
  width: 100%;
  color: $black;
  margin: 0;
  padding: 22px;
}

main {
  height: 100vh;
}

img {
  display: block;
}

.card {
  border: 1px solid $grey;
  background-color: $white;
  max-width: 300px;
  max-height: 600px;
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0 15px;
  display: flex;
  flex-direction: column;

  figure {
    margin: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  select {
    background: $grey;
    border: none;
    font-family: inherit;
    position: absolute;
    top: 15px;
    left: 18px;
    width: calc(100% - 36px);
    height: 40px;
    padding: 11px 13px;
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
  }

  &__top {
    background-image: url("../images/background_pattern.png");
    background-position-y: -6px;
    padding: 85px 0 0 16px;

    figure {
      max-height: 209px;
      max-width: 150px;
    }
  }

  &__bottom {
    height: 306px;
    background-color: $raspberry;
    color: $purple;
    position: relative;
    padding: 10px 17px;

    h3,
    p {
      color: $white;
      letter-spacing: -1px;
    }

    h3 {
      font-size: 1.375rem; /* 22px */
      font-weight: 400;
      margin: 0;
    }

    p {
      margin-top: 8px;
      margin-bottom: 16px;
      font-weight: 300;
    }
  }

  .circle {
    width: 82px;
    height: 82px;
    background: $white;
    position: absolute;
    right: 18px;
    top: -11%;
    border-radius: 100%;
    padding: 8px;

    img {
      border-radius: 100%;
    }
  }

  .stats {
    padding-left: 0;
    list-style: none;
    margin: 0;

    &__item {
      background: $grey;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      padding: 12px;
      margin-bottom: 2px;
      width: 100%;
      max-height: 40px;

      p {
        color: inherit;
        margin: 0;
      }

      span {
        font-weight: 700;
        font-size: 1.188rem; /* 19px */
      }
    }
  }
}
